.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.backImg{
  background-image: url(./Assets/index.jpg);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.SayHelloImg{
  background-image: url(./Assets/SayHello1.png);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.AddNumbersImg{
  background-image: url(./Assets/add2numbers.png);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.AskQuestionImg{
  background-image: url(./Assets/askingquestions.jpg);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.GreaterThanImg {
  background-image: url(./Assets/greaterThanLessThan.jpg);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: fit;
}
.MadLibImg {
  background-image: url(./Assets/madlib.jpg);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: fit;
}
.OddOrEvenImg {
  background-image: url(./Assets/oddoreven.jpg);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: fit;

}
.ReverseImg {
  background-image: url(./Assets/ReverseIt.png);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: fit;
}
.StudentsImg {
  background-image: url(./Assets/StudentDirectory.png);
  height: 1000vh;
  background-repeat: no-repeat;
  background-size: fit;
}
.letters {
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

